* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    src: url(../fonts/static/Montserrat-Bold.ttf);
    color: black;
    text-align: center;
    margin: 20px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    src: url(../fonts/static/Montserrat-Bold.ttf);
    font-size: 20px;
    color: black;
    line-height: 1.5;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    src: url(../fonts/static/Montserrat-Regular.ttf);
}

p {
    font-family: 'Montserrat', sans-serif;
    src: url(../fonts/static/Montserrat-Regular.ttf);
    font-size: auto;

}

header {
    background-color: #BB9A6Fb9;
    text-align: center;
    border: grey 1px solid;
}

.logo img {
    width: auto;
    height: 100px;
    text-transform: uppercase;
}

main {
    background-color: white;
}

/*navegacion*/
.menu {
    padding: 0;
    background-color: #F2E8D3;
    list-style: none;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    src: url(../fonts/static/Montserrat-Regular.ttf);
    font-size: auto;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    display: inline-block;
}
#menu-toggle{
    visibility: hidden;
}

.menu li a:hover {
    background-color: white
}

/*catalogo*/
.catalogo {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "producto1 producto2 producto3"
        "producto4 producto5 producto6";
    text-align: center;
    align-items: center;
    justify-content: space-around;
    row-gap: 20px;
    margin: 10px;
}

.producto1 {
    grid-area: producto1;
}

.producto2 {
    grid-area: producto2;
}

.producto3 {
    grid-area: producto3;
}

.producto4 {
    grid-area: producto4;
}

.producto5 {
    grid-area: producto5;
}

.producto6 {
    grid-area: producto6;
}

.catalogo article {
    border: black double 1px;
    border-radius: 10px;
    padding: 10px;
}

button {
    background-color: white;
    border-radius: 10px;
    color: black;
    border: black solid 1px;
    font-size: medium;
    font-weight: bold;
    width: 100px;
}


/*vinculos*/
a {
    text-decoration: none;
    color: black;
}

/*cambio de pagina*/
.cambiopagina {
    display: flex;
    justify-content: center;
}

.cambio {
    border: black 1px solid;
    padding: 10px;
}

/*footer*/
footer {
    display: flex;
    justify-content: center;
    background-color: #BB9A6F;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    border: grey 1px solid;
}

footer img {
    margin-left: 30px;
    width: auto;
    height: 30px;
}

.redes {
    text-align: center;
    margin: 20px;
}

.redes img {
    width: auto;
    height: 30px;
}

/*preguntas frecuentes*/

.centrartabla {
    text-align: center;
}

/*datos*/
.formulario {
    margin-left: 30px;
}

/*contacto*/
.mensaje {
    height: 150px;
}

.form2 {
    margin: 30px;
    display: flex;
    justify-content: center;
}

.form2 img {
    margin-left: 20px;
    width: auto;
    height: 300px;
    text-align: center;
}

/*index*/
.inicio {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 400px;
}

.inicio img {
    width: 400px;
    height: auto;
    margin: 20px;
    border-radius: 10px;
}

.catalogo__inicio {
    margin: 30px;
    text-align: center;
}

.catalogo__boton {
    width: 10rem;
    height: 3rem;
}

.nosotros1 {
    height: auto;
    width: 80%;
    margin: auto;
    padding: 10px;
    background-color: #f6f6f6;
    text-align: center;
    border: #f6f6f6 solid 1px;
    border-radius: 10px;
}


.nosotros2 {
    text-align: center;
    margin: 20px;
}

.nosotros__boton {
    width: 10rem;
    height: 3rem;
}

.duda {
    height: 200px;
    width: 80%;
    margin: auto;
    padding: 10px;
    background-color: #f6f6f6;
    text-align: center;
    border: #f6f6f6 solid 1px;
    border-radius: 10px;
}

.duda__boton {
    width: 16rem;
    height: 3rem;
    margin: 2rem;
}

/*nosotros*/

.nosotros {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas:
        "somos somos carrusel"
        "valores mision vision";
    text-align: center;
    justify-content: center;
    margin: 50px;
}

.carrusel {
    width: 500px;
    height: 300px;
    grid-area: carrusel;

}

.somos {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    grid-area: somos;
    height: auto;
    width: auto;
}

.mision {
    background-color: white;
    border: solid 2px black;
    border-radius: 10px;
    padding: 20px;
    grid-area: mision;
    height: auto;
    width: auto;
}

.vision {
    background-color: white;
    border: solid 2px black;
    border-radius: 10px;
    padding: 20px;
    grid-area: vision;
    height: auto;
    width: auto;
}

.valores {
    background-color: white;
    border: solid 2px black;
    border-radius: 10px;
    padding: 20px;
    grid-area: valores;
    height: auto;
    width: auto;
}

.cambiotamaño {
    height: auto;
}

/*media*/
@media only screen and (max-width:480px) {
    body {
        margin: 0;
        padding: 0;
    }
}

@media only screen and (max-width:480px) {
    .menu li {
        display: block;
        padding: 0;
        text-align: start;
    }

    .menu li a {
        padding: 10px;
        text-decoration: none;
        display: block;
    }
#menu-toggle{
    visibility: hidden;
}
    .menu-icon {
        display: block;
    }

    .menu {
        display: none;
        position: relative;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #F2E8D3;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .menu.active {
        display: block;
        position: relative;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu li {
        margin: 0;
        padding: 10px 20px;
    }
    .menu li a:hover {
    background-color: white
}

}

@media only screen and (min-width: 481px) {
    .menu-icon {
        display: none;
    }

    .menu {
        display: block;
    }
}


@media only screen and (max-width:480px) {

    .inicio {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        margin: 20px auto;
        max-width: 90%;
        width: 200px;

    }
}

@media only screen and (max-width:480px) {
    .nosotros1 {
        height: auto;
        width: 90%;
        padding: 10px;
        background-color: #f6f6f6;
        text-align: center;
        border: #f6f6f6 solid 1px;
        border-radius: 10px;
        margin: 10px auto;
    }

    .nosotros2 {
        text-align: center;

    }
}

@media only screen and (max-width:480px) {
    .catalogo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 10px;
        grid-auto-flow: column;
        grid-template-areas:
            "producto1"
            "producto2"
            "producto3"
            "producto4"
            "producto5"
            "producto6";
        justify-content: center;
    }

    .catalogo section {
        margin: 10px 0;
    }

    .producto1 {
        grid-area: producto1;
    }

    .producto2 {
        grid-area: producto2;
    }

    .producto3 {
        grid-area: producto3;
    }

    .producto4 {
        grid-area: producto4;
    }

    .producto5 {
        grid-area: producto5;
    }

    .producto6 {
        grid-area: producto6;
    }

    .catalogo article {
        border: black solid 1px;
        border-radius: 10px;
        padding: 5px;
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media only screen and (max-width:480px) {
    .duda {
        height: auto;
        width: 90%;
        padding: 10px;
        background-color: #f6f6f6;
        text-align: center;
        border: #f6f6f6 solid 1px;
        border-radius: 10px;
        margin: 10px auto;
    }

    .duda__boton {
        justify-content: center;
    }
}

@media only screen and (max-width:480px) {
    .form2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "datos__form";
        margin: 0 auto;
        justify-items: center;

    }

    .datos__form {
        grid-area: datos__form;
    }

    .datos__foto img {
        justify-content: center;
        align-items: center;
        width: 90%;
        height: auto;
        margin-top: 10px;
    }
}

@media only screen and (max-width:480px) {
    .nosotros {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
            "carrusel"
            "somos"
            "mision"
            "vision"
            "valores";
        justify-content: center;
        align-items: center;
    }

    .vision .mision .valores {
        background-color: white;
        border: solid 2px black;
        border-radius: 10px;
        margin: 5px;
        padding: 10px;
        text-align: center;
    }

    .carrusel {
        width: 400px;
    }
}

@media only screen and (max-width:480px) {
    footer {
        font-size: small;
    }
}