.catalogo {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: auto auto;
    grid-template-areas:
        "producto1 producto2 producto3"
        "producto4 producto5 producto6";
    text-align: $text;
    align-items: center;
    place-content: center;
    row-gap: 20px;
    gap: 3rem;
    margin: 10px;

    .producto1 {
        grid-area: producto1;
    }

    .producto2 {
        grid-area: producto2;
    }

    .producto3 {
        grid-area: producto3;
    }

    .producto4 {
        grid-area: producto4;
    }

    .producto5 {
        grid-area: producto5;
    }

    .producto6 {
        grid-area: producto6;
    }

    article {
        border: $color double 1px;
        border-radius: 10px;
        padding: 10px;
        transition: transform 0.2s, box-shadow 0.2s;

        &:hover {
            transform: scale(1.1);
            box-shadow: 0px 4px 8px $color;
        }
    }

    button {
        background-color: white;
        border-radius: 5px;
        color: $color;
        border: $color solid 1px;
        font-family: $font;
        font-size: medium;
        font-weight: bold;
        width: 100px;
        transition: opacity 0.3s ease;
        padding: 5px;
        margin: 5px;

        &:hover {
            opacity: 0.5;
        }
    }
}

.cambiopagina {
    display: flex;
    justify-content: center;
    font-family: $font;
    margin: 40px;

    .cambio {
        border: $color 1px solid;
        border-radius: 10px;
        justify-content: space-between;
        padding: 10px;

        a {
            text-decoration: none;
            color: $color;
        }
    }
}

#textCarousel {
    width: 60%;
    margin: auto;
    overflow: hidden;
    position: relative;
    background-color: $fondo3;
        border: solid 1px $fondo3;
        border-radius: 10px;

    #prevBtn,
    #nextBtn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 2;
        background-color: white;
        border: 1px $color solid;
        border-radius: 10px;
        padding: 5px;
    }

    #prevBtn {
        left: 10px;
    }

    #nextBtn {
        right: 10px;
    }

    .carousel-content {
        display: flex;
        
        width: 100%;
        transition: transform 0.5s ease-in-out;
    }

    .carousel-item {
        flex-shrink: 0;
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        max-width: 1000px;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        text-align: $text;

        .carousel__sale {
            max-width: 50%;
            width: auto;
            margin-bottom: 10px;
        }

        button {
            background-color: white;
            border-radius: 5px;
            color: $color;
            border: $color solid 1px;
            font-family: $font;
            font-size: auto;
            font-weight: bold;
            width: 100px;
            transition: opacity 0.3s ease;
            padding: 5px;
            margin: 5px;

            &:hover {
                opacity: 0.5;
            }
        }
    }
}