.nosotros {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas:
        ". carrusel carrusel ."
        "somos somos . ."
        ". . valores valores"
        "mision mision . ."
        ". . vision vision";
    text-align: $text;
    justify-content: center;
    margin: 50px;

    h4 {
        font-weight: bold;
    }

    .somos {
        grid-area: somos;
    }

    .mision {
        grid-area: mision;
    }

    .vision {
        grid-area: vision;
    }

    .valores {
        grid-area: valores;
    }

    article{
        background-color: white;
        border: solid 1px $color;
        border-radius: 10px;
        width: auto;
        height: auto;
        box-shadow: 0px 2px 4px $color;
        padding: 20px;
        margin-top: 50px;
    }

    .carrusel {
        width: 100%;
        grid-area: carrusel;
        justify-self: center;
    }
}