main {
    @font-face {
        font-family: $font;
        src: url(../fonts/static/Montserrat-Bold.ttf);
    }

    h2 {
        font-family: $font;
        color: $color;
        text-align: $text;
        margin: 20px;
    }

    .titulo__personalizado {
        font-family: $font !important;
        color: $color;
        text-align: $text;
        margin: 20px;
        font-weight: bold;
        font-size: 24px;
    }

    h4 {
        font-family: $font;
        font-size: 20px;
        color: $color;
        line-height: 1.5;
    }

    @font-face {
        font-family: $font;
        src: url(../fonts/static/Montserrat-Regular.ttf);
    }

    h5 {
        font-family: $font;
    }

    p {
        font-family: $font;
        font-size: auto;
    }
}



.redes {
    text-align: $text;
    margin: 20px;

    img {
        width: auto;
        height: 30px;
    }
}