.form2 {
    margin: 30px;
    display: flex;
    justify-content: center;
    font-family: $font;

    input {
        margin-bottom: 10px;
        width: 100%;
        border-radius: 10px;
        font-family: $font;
        background-color: white;
        border: 1px solid black;
    }

    .mapa iframe {
        margin-left: 20px;
        width: auto;
        height: 300px;
        text-align: $text;
    }

    .mensaje {
        height: 150px;
        color: #888;
        font-family: $font;
        resize: none;
        width: 100%;

        .mensaje::placeholder {
            color: #ccc;
            font-family: $font;
        }

    }
}