.form2 {
    margin: 30px;
    display: flex;
    justify-content: center;

    img {
        margin-left: 20px;
        width: auto;
        height: 300px;
        text-align: center;
    }

    .mensaje {
        height: 150px;
    }
}