.preguntas {
    @include preguntas;
}
.accordion-button:not(.collapsed) {
        background-color: rgba($fondo2, 0.5);
        color: black;
    }
    .accordion-button:focus {
        border: 1px solid $fondo2;
        box-shadow: none;
    }
    .centrartabla {
        @include centrartabla
    }