.inicio {
    display: grid;
    grid-template-columns: auto auto;
    text-align: $text;
    display: flex;
    justify-content: center;
    height: 400px;

    img {
        width: 400px;
        height: auto;
        margin: 20px;
        border-radius: 10px;
    }
}

.catalogo__inicio {
    margin: 30px;
    text-align: $text;

    .catalogo__boton {
        width: 10rem;
        height: 3rem;
        background-color: white;
        border-radius: 10px;
        color: $color;
        border: $color solid 1px;
        font-size: medium;
        font-weight: bold;
        transition: opacity 0.3s ease;

        &:hover {
            opacity: 0.5;
        }

        a {
            text-decoration: none;
            color: $color;
        }
    }
}

.nosotros1 {
    height: auto;
    width: 80%;
    margin: auto;
    padding: 10px;
    background-color: $fondo3;
    text-align: $text;
    border: $fondo3 solid 1px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px $color;

    button {
        width: 10rem;
        height: 3rem;
        margin: 2rem;
        background-color: white;
        border-radius: 10px;
        color: $color;
        border: $color solid 1px;
        font-size: medium;
        font-weight: bold;
        transition: opacity 0.3s ease;

        &:hover {
            opacity: 0.5;
        }

        a {
            text-decoration: none;
            color: $color;
        }

        .nosotros2 {
            text-align: $text;
            margin: 20px;

            p {
                font-family: $font;
                src: url(../fonts/static/Montserrat-Regular.ttf);
                font-size: auto;
            }
        }
    }
}

.duda {
    height: 200px;
    width: 80%;
    margin: auto;
    padding: 10px;
    background-color: $fondo3;
    text-align: $text;
    border: $fondo3 solid 1px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px $color;

    .duda__boton {
        width: 16rem;
        height: 3rem;
        margin: 2rem;
        background-color: white;
        border-radius: 10px;
        color: $color;
        border: $color solid 1px;
        font-size: medium;
        font-weight: bold;
        transition: opacity 0.3s ease;

        &:hover {
            opacity: 0.5;
        }

        a {
            text-decoration: none;
            color: $color;
        }
    }
}